
#  ***** install-subsystems.sh / register-subsystems.sh parameters  ***** 
#DP_APIGW_MANAGEMENT_ENDPOINT=https://apigateway-service.apic2018.tor01.containers.appdomain.cloud
DP_APIGW_ENDPOINT=https://localhost:9444

APIM_SERVER=https://localhost:2000
APIM_CLIENT_ID=caa87d9a-8cd7-4686-8b6e-ee2cdc5ee267
APIM_CLIENT_SECRET=3ecff363-7eb3-44be-9e07-6d4386c48b0b

ADMIN_USERNAME=admin
ADMIN_PWD=7iron-hide

#  ***** create-porg.sh parameters ***** 

pORG_NAME=localtest
pORG_USERNAME=shavon
pORG_PASSWORD=7iron-hide
#pORG_EMAIL=ozairs@gmail.com
#pORG_FIRST_NAME=Shavon
#pORG_LAST_NAME=Sheikh
CATALOG_NAME=sandbox

# ***** deploy-api.sh / create-app-subscription.sh / run-pub-sub.sh parameters ***** 

USER_REGISTRY=local-registry
USER_REGISTRY_URL=https://172.19.0.6:9443/localtest/sandbox/utility/basic-auth/spoon/spoon
#LDAP user registry configuration
#USER_REGISTRY_URL=ldaps://ldaphost:636
USER_REGISTRY_LDAP_AU_METHOD=compose_dn
USER_REGISTRY_LDAP_VERSION=3
USER_REGISTRY_LDAP_DN_BASE=ibm
USER_REGISTRY_LDAP_DN_BIND_PREFIX=cn
USER_REGISTRY_LDAP_DN_BIND_SUFFIX=cn
USER_REGISTRY_LDAP_AU_BIND=false
# if USER_REGISTRY_LDAP_AU_BIND=true then configure following
USER_REGISTRY_LDAP_ADMIN_DN=ibm
USER_REGISTRY_LDAP_ADMIN_PASSWORD=passW0rd

#API definitions must be a JSON file. Use a YAML to JSON converter to convert from YAML to JSON.
OAUTH_PROVIDER_URL=https://raw.githubusercontent.com/ozairs/apiconnect-2018/master/openapi/oauth-provider.json
#API_DEFINITION_URL=https://raw.githubusercontent.com/ozairs/apiconnect-2018/master/openapi/weather-provider-api_1.0.0.json
#API_DEFINITION_URL2=https://raw.githubusercontent.com/ozairs/apiconnect-2018/master/openapi/utility_1.0.0.json
#API_PRODUCT_DEFINITION_URL=https://raw.githubusercontent.com/ozairs/apiconnect-2018/master/openapi/weather-product_1.0.0.json

API_PRODUCT_NAME=sports-product

CONSUMER_ORG=sandbox-test-org
CONSUMER_APP_CREDS=sports
CONSUMER_REDIRECT_URL=https://www.getpostman.com/oauth2/callback
# need to manually escape \ with \\ 
CONSUMER_APP_CERT=MIID7jCCAtagAwIBAgIgZvs/SK92ayK3j9xRQt2GKDB5NEWItYJUn1vuGKZxDMUw\\nDQYJKoZIhvcNAQEFBQAwgYoxEDAOBgNVBAYTB1Rvcm9udG8xDDAKBgNVBAoMA0lC\\nTTEOMAwGA1UECwwFQ2xvdWQxGjAYBgNVBAMMEW96YWlycy5jYS5pYm0uY29tMSAw\\nHgYJKoZIhvcNAQkBFhFvemFpcnNAY2EuaWJtLmNvbTEaMBgGA1UEAwwRb3phaXJz\\nLmNhLmlibS5jb20wHhcNMTkwNTIzMjA0NDA1WhcNMjkwNTIzMjA0NDA1WjBuMRAw\\nDgYDVQQGEwdUb3JvbnRvMQwwCgYDVQQKDANJQk0xDjAMBgNVBAsMBUNsb3VkMRow\\nGAYDVQQDDBFvemFpcnMuY2EuaWJtLmNvbTEgMB4GCSqGSIb3DQEJARYRb3phaXJz\\nQGNhLmlibS5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDhrfoj\\niBqsPgUHtuWa8GSEZfnh6SF/2pIQtCu+kdHTA1ofWdrWcn0wqrUwoV0DnPgGLra6\\nn3ux0mLTp7SrUR4K8EmiXdOzP5XOrosN1LoOcEbX+fOnZuM6i/CcogAnAlFN89Vp\\nU9KPzFml6N/QKEhiKxE4AvJLa8RIm8qVQeAnsYtLamUJaGYklKd31fzePVqHrqu9\\njTLZS7mvbNXrktmHkfnQi3r62BQiUgsL6CmHn2O4DPW/AgWgU3r8x4MOhDIfasrh\\novo3+R8hZHb0/88pZiFG3XFPsQeqHjSTOKu6bFKiyjoTg0ugkq1f4wzxihuivyY7\\nhb/SqdQE9UpWQGyzAgMBAAGjWzBZMB0GA1UdDgQWBBT+nkC3+cIHgtpI78wFyHr8\\njtwdvjAfBgNVHSMEGDAWgBT+nkC3+cIHgtpI78wFyHr8jtwdvjAXBgNVHREEEDAO\\nggxPemFpciBTaGVpa2gwDQYJKoZIhvcNAQEFBQADggEBAIGZ+1PctcogIZ1I1Thu\\nk06+Tnami6pFHPkFDtldfD6FKw6VDqiRQEo/D1iH3trT0Wb32D0zBLmlznQu0goH\\ng5hkRWg3LaTy62w9qaktrJ0BKHTheSBTkiB0iom7OOXZa2ZCCxJhYMddCpi9n+5s\\nubQ/IUkQxcUJKItMc3dhqaXjNiAa/1kIlfZ5iiBv+pb7o6HSW78Aun2uxpwMLKPO\\nb8cY/1yIzgX1/jMvQ31HBhuLiDB0mCXAZZIZfDPb6ajPAlvapmfE1zmEyNTsOyaX\\n7O9NwgW9gD+ySMWzMtjQhIH8zMMdllKrfIkQCpXvsZ+awdjWA79wKjlirjj/WHJZ\\njMY=

#  ***** test-api.sh ***** 

CONSUMER_USERNAME=spoon
CONSUMER_PASSWORD=spoon
CONSUMER_SCOPE=sports
#CONSUMER_CLIENT_ID=4b26d46c1824f70c12cf5001ca50619c
#CONSUMER_CLIENT_SECRET=974991d6248777c4851a3de63cfa4953

CONSUMER_CLIENT_ID=77562963fb1bb6906a5c01453c9dd9cc
CONSUMER_CLIENT_SECRET=d2460c7914ce55243c26289daedb70ee